<launch>
  <group ns="tests">
    <node pkg="usb_cam" type="usb_cam_node" name="test_image">
      <rosparam file="$(find openag_brain)/launch/usb_cam.yaml" />
      <param name="pixel_format" type="str" value="yuyv"/>
    </node>
    <test pkg="openag_brain" test-name="test_image_analyze" type="test_image_analyze.py" />
  </group>
</launch>
